# Main branch name for releases
MAIN_BRANCH=main

# LaTeX directory (relative to project root)
LATEX_DIR=papers/latex
PDF_BASE_NAME=main

ARCHIVE_DIR=papers/latex/versions
BASE_NAME=MyProject

ARCHIVE_TYPES=pdf,project
PERSIST_TYPES=pdf

PUBLISHER_TYPE=zenodo

ZENODO_TOKEN=XXX

# 10.5072/zenodo.437923 or 437923 or any DOI version of the repo
ZENODO_CONCEPT_DOI=432538

ZENODO_API_URL=https://sandbox.zenodo.org/api